.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #273640;
    color: #fff;
    padding: 2rem 0;
    align-items: center;

    .panel{
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid #19232a;
        background-color: #1b262d;

        .header{
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            font-size: 0.875rem;
            border-bottom: 1px solid rgba(100, 100, 100, 0.3);
        }
        .body{
            padding: 0.5rem;
        }
    }
}

$border_color: transparent;

.table{
    width: 800px;
    border: 1px solid $border_color;
    font-size: 0.75rem;

    .trow{
        height: 17px;
        width: 100%;

        &:hover{
            background-color:lighten($color: #1b262d, $amount: 2%);
            cursor: pointer;
        }

        .tcell{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;

            &:not(:first-child){
                border-left: 1px solid $border_color;
            }
        }
    }
    .thead{
        opacity: 0.6;
        .trow{
            .tcell{
                text-transform: uppercase;
            }
        }
    }

    .tbody{
        .trow{
            border-top: 1px solid $border_color;
            .tcell{
                
            }
        }
    }

    .trow{
        display: flex;
        justify-content: space-between;
    
        .tcell{
            flex-grow: 1;
        }
    }
    
}